@page "/propiedades"

@using Model.DTO
@using Repositorio.IRepositorio
@inject IPropiedadRepositorio PropiedadRepositorio
@inject IToastService toastServicio;
@inject SweetAlertService Swal;

<h1 class="text-center">Propiedades</h1>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Lista de Propiedades</h4>
            </div>
            <div class="col-3 offset-2">
                <NavLink href="crear-propiedad" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>Nueva Propiedad</NavLink>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Area</th>
                    <th>Habitaciones</th>
                    <th>Baños</th>
                    <th>Parqueadero</th>
                    <th>Precio</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (propiedades.Count() > 0)
                {
                    @foreach (var propiedad in propiedades)
                    {
                        <tr>
                            <td>@propiedad.Id</td>
                            <td>@propiedad.Nombre</td>
                            <td>@propiedad.Descripcion</td>
                            <td>@propiedad.Area</td>
                            <td>@propiedad.Banios</td>
                            <td>@propiedad.Parqueadero</td>
                            <td>@propiedad.Precio</td>
                            <td>@propiedad.Activo</td>
                            <td>
                                <NavLink href="@($"editar-propiedad/{propiedad.Id}")" class="btn btn-success">
                                    <i class="bi bi-gear-fill"></i>
                                    Editar
                                </NavLink>
                                <button class="btn btn-danger" @onclick="() => ManejadorOnBorrar(propiedad)">
                                    <i class="bi bi-trash-fill"></i>
                                    Borrar
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">
                            <p class="text-danger">No hay categorias</p>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




@code {
    private IEnumerable<PropiedadDTO> propiedades { get; set; } = new List<PropiedadDTO>();

    protected override async Task OnInitializedAsync()
    {
        propiedades = await PropiedadRepositorio.GettAllPropiedades();
    }

    private async Task ManejadorOnBorrar(PropiedadDTO propiedad)
    {


        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Esta seguro?",
                Text = $"Eliminar Propiedad: {propiedad.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, eliminar",
                CancelButtonText = "No, volver",
            });

        if (result.IsConfirmed)
        {
            await PropiedadRepositorio.BorrarPropiedad(propiedad.Id);
            toastServicio.ShowSuccess("Propiedad fue eliminado");
            propiedades = await PropiedadRepositorio.GettAllPropiedades();
        }
    }

}